.about_we {
  height: 300px;
  background-color: rgb(187, 228, 104);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.about_we-foto {
  background-color: $primary-color;
  width: 200px;
  height: 200px;
  padding: 1px;
}
