.our-work {
    height: 400px;
    width: 100%;
    background-image: $primary-color;

    .our-work-title {
        color: gray;
        text-align: center;
        padding-top: 30px;

    }
}

.our-work-items {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;

}