.our-work {
    height: 400px;
    width: 100%;
    background: lightblue url("/public/img/trama1.png") repeat fixed center;

    .our-work-title {
        color: gray;
        text-align: center;
        padding-top: 30px;

    }
}

.our-work-items {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;

}