header.main-header
    .logo
        a logo
    
    nav.nav
        ul(class="nav-links ")
            li(class="nav-link tem"): a(href="#") home
            li(class="nav-link tem"): a(href="#") about me
            li(class="nav-link tem"): a(href="#") skill
            li(class="nav-link tem"): a(href="#") portfolio
            li(class="nav-link tem"): a(href="#") contact

    input(type="checkbox" class="menu-btn" id="menu-btn")
    label(for="menu-btn" class="icon-menu")
        span(class="icon-men__line")