header.header3
    i(class="icon-menu position-menu" id="burger-menu")
    img(src="", alt="logo")
    nav
        ul.menu-items
            li: a(href="#") hola
            li: a(href="#") hola
            li: a(href="#") hola
            li: a(href="#") hola
            li: a(href="#") mama

