header.main-header
    img(src="/public/img/logo.png" alt="foto")
    input(type="checkbox" class="menu-btn" id="menu-btn")
    
    ul.nav-links
        li.nav-link: a(href="#") home
        li.nav-link: a(href="#") about me
        li.nav-link: a(href="#") skill
        li.nav-link: a(href="#") portfolio
        li.nav-link: a(href="#") contact
        li.nav-link: a(href="#") contact
        label(for="menu-btn" class="icon-menu")
            span(class="icon-menu__line")
