extends ../templates/_template.pug

block head
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/fontello.css")


block header
    include ../base/_header3.pug
    

block banner
    // BANNER--------------------------------------------------------------
    include ../includes/_banner.pug

//- block about_me
    //ABOUT-WE-------------------------------------------------------------
    //- include ../includes/_about_me.pug

//- block our-work
    //OUR-WORK-------------------------------------------------------------
    //- section.our-work
    //-     h2.our-work-title Como trabajamos
    //-     .our-work-items
    //-         +card-our-work("img/perro.jpg", "perro", "rescate", "rescatamos perritos", " 500")
    //-         +card-our-work("img/perro.jpg", "perro", "rescate", "rescatamos perritos", " 500")
    //-         +card-our-work("img/perro.jpg", "perro", "rescate", "rescatamos perritos", " 500")
    //-         +card-our-work("img/perro.jpg", "perro", "rescate", "rescatamos perritos", " 500")
    //-         +card-our-work("img/perro.jpg", "perro", "rescate", "rescatamos perritos", " 500")
    //-         +card-our-work("img/perro.jpg", "perro", "rescate", "rescatamos perritos", " 500")

    //CONTACTO-------------------------------------------------------------
//- block contacto
//-     include ../includes/_contacto.pug