* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto 600px 40px);
  grid-template-areas: "header header header header header header header header header header header header" "banner banner banner banner banner banner banner banner banner banner banner banner" "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.main-header {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 65px;
  width: 100vw;
  padding: 0 10vw;
  color: black;
  z-index: 1;
  transition: 0.4s ease-out;
}
.main-header img {
  position: absolute;
  left: 30px;
}
.main-header a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.main-header .nav-links {
  display: flex;
  list-style: none;
}
.main-header .nav-links .nav-link a {
  margin: 0.2rem;
  padding: 1rem 0.5rem;
}
.main-header .nav-links .nav-link a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.main-header .icon-menu {
  position: relative;
  right: -30%;
  padding: 22px 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
  background-color: #F06301;
}
.main-header .icon-menu__line {
  display: block;
  position: relative;
  background-color: black;
  height: 2px;
  width: 20px;
  border: 4px;
}
.main-header .icon-menu__line::before, .main-header .icon-menu__line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background-color: black;
  transition: background 0.8s ease;
}
.main-header .icon-menu__line::before {
  transform: translateY(-5px);
}
.main-header .icon-menu__line::after {
  transform: translateY(5px);
}
.main-header .menu-btn {
  display: none;
}
.main-header.scrolled {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}
.main-header .icon-menu__line, .main-header .icon-menu__line::before, .main-header .icon-menu__line::after {
  background-color: white;
}

.banner {
  height: 600px;
  width: 100%;
  background-color: #4fc7f7;
  grid-area: banner;
}
.banner h1 {
  padding-left: 30px;
  margin-bottom: 10px;
}

.botones {
  height: 50px;
}
.botones a {
  padding: 10px 50px;
  text-decoration: none;
  background-color: #F06301;
  border-radius: 30px;
  color: white;
  margin-right: 20px;
  font-size: 28px;
  font-weight: bold;
}

.about_we {
  height: 300px;
  background-color: #bbe468;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.about_we-foto {
  background-color: #78D7DD;
  width: 200px;
  height: 200px;
  padding: 1px;
}

.our-work {
  height: 400px;
  width: 100%;
  background: lightblue url("/public/img/trama1.png") repeat fixed center;
}
.our-work .our-work-title {
  color: gray;
  text-align: center;
  padding-top: 30px;
}

.our-work-items {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

.contacto {
  background-color: pink;
  padding: 20px;
}
.contacto h2 {
  text-align: center;
  margin-bottom: 20px;
}
.contacto .container-contact {
  display: flex;
  justify-content: space-evenly;
}

.container-contact .contact-description {
  border-radius: 20px;
  background-color: #78D7DD;
  min-width: 300px;
  text-align: center;
}

.contact-description-location {
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-description-location .contacto-description-title h3 {
  margin-bottom: 20px;
}

.contacto-description-atention {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  height: 40px;
  background-color: #78D7DD;
  grid-area: footer;
}

@media screen and (max-width: 767px) {
  .main-header .icon-menu {
    display: block;
  }
  .main-header .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    color: white;
    background-color: #272727;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
    clip-path: circle(200px at top right);
  }
  .main-header .nav-link {
    opacity: 0;
    transform: translateX(100%);
    width: 100%;
    text-align: center;
  }
  .main-header .nav-link a {
    display: block;
    padding: 2rem 0;
  }
  .main-header .menu-btn:checked ~ .nav-links {
    opacity: 1;
    clip-path: circle(100% at center);
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 4s ease-in-out 1s, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(1) {
    transition-delay: 0.7s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(2) {
    transition-delay: 0.8s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(3) {
    transition-delay: 0.9s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(4) {
    transition-delay: 1s;
  }
}