.about_we
    .about_we-foto
    .about_we-description
        h2 somos
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe quia vitae necessitatibus, laboriosam ea ab incidunt! Et cupiditate deserunt omnis, sint aliquid id veritatis velit nisi incidunt, suscipit, eligendi doloribus!
