section.contacto
    h2 Contacto
    .container-contact
        .contact-map
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1LfLqOAhRJQ5qP4H6xsPtSAgDZ0fnOpMe" width="840" height="380"></iframe>
        .contact-description
            .contact-description-location
                h3.contacto-description-title mas informacion
                p Monteria - Cordoba
                p Carrera 125 vial aguas negras
            .contacto-description-atention
                h3.contacto-description-title Atencion
                p Lunes - Sabado de 8 am - 6 pm
                p telefonos 311 411 5856 - 7869878
            .contact-social
                a: img(src="/", alt="img")
                a: img(src="/", alt="img")
                a: img(src="/", alt="img")