<DOCTYPE html
html(lang="en")
    block head
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
    include ../base/_mixins.pug
    body
        //HEADER---------------------------------------------------------------
        header.header
            img.header-logo(src="", alt="imagen")
            nav
                ul.header-menu
                    il: a(href="/") Enlace
                    il: a(href="/") Enlace
                    il: a(href="/") Enlace
                    il: a(href="/") Enlace

        block banner

        block about_me

        block our-work

        block adociones

        block donaciones

        block galeria-fotos

        block videos

        block contacto

        block footer
            //FOOTER------------------------------------------------------------
            footer.footer
                p hecho por wilson